html,
body {
  height: 100%;
  /* Ensure the html and body take up full height */
  margin: 0;
  /* Remove default margin */
  font-family: 'Open Sans', sans-serif;
  /* Added fallback font */
  overflow: auto;
  /* Allow scrolling if content overflows */
  background-color: honeydew;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  /* Use min-height instead of height to allow scrolling */
  padding: 20px;
  /* Add padding for some spacing */
  box-sizing: border-box;
  /* Include padding in the height calculation */
}

.main-card {
  height: auto;
  max-width: 90%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.login-section {
  margin-top: 20px;
}

.sign-in-btn,
.logout-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  margin: 10px 0;
}

.sign-in-btn {
  background-color: #4CAF50;
  /* Default sign-in button color */
}

.sign-in-btn.logout,
.logout-button {
  background-color: #f44336;
  /* Logout button color */
}

item-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 768px) {
  .main-card {
    max-width: 90%;
    /* max-width: 1200px; */
    /* display: flex; */
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
  }

  .item-gallery {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    flex-wrap: wrap;
    place-content: center;
  }
}