.app-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
}

.main-card {
  width: 80%;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}

.login-section {
  margin-top: 20px;
}

.sign-in-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  margin: 10px 0;
}

.sign-in-btn.logout {
  background-color: #f44336;
}

.sign-in-btn.login {
  background-color: #4CAF50;
}

.logout-button {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  margin: 10px 0;
}
